<html>
<head>
<title>Admin Panel</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
	integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{css/dap.css}" href="./css/dap.css">
<script th:src="@{js/dap.js}" type="text/javascript"
	src="../static/js/dap.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="">Menu Administrateur</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<!-- TODO bam by Djer |IDE| Ton IDE t'indique qu'il manque une fin de balise "ul"-->
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#email"
					onclick="userGmail()">Email</a></li>
				<li class="nav-item active"><a class="nav-link" href="#event"
					onclick="userEvent()">Event</a></li>
				<li class="nav-item active"><a class="nav-link" href="#change"
					onclick="userRename()">Modifier utilisateur</a></li>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="table">
				<table class="table-bordered table-striped offset-lg-1 col-lg-10">
					<thead>
						<tr>
							<td class="align-middle text-center">Utilisateurs</td>
							<td class="align-middle text-center">DapUser</td>
							<td class="align-middle text-center">Acces Token</td>
							<td class="align-middle text-center">Refresh Token</td>
							<td class="align-middle text-center">Expir/jour</td>
							<td class="align-middle text-center">Delete</td>
						</tr>
					</thead>

					<tbody>
						<tr th:each="userData : ${map}">
							<td class="align-middle text-center" th:text="${userData.key}"></td>
							<td class="align-middle text-center" th:text="${userData.value.loginName}"></td>
							<td class="align-middle text-center"
								th:text="${userData.value.storedCredential.accessToken}"></td>
							<td class="align-middle text-center"
								th:text="${userData.value.storedCredential.refreshToken}"></td>
							<td class="align-middle text-center"
								th:text="${userData.value.storedCredential.expirationTimeMilliseconds != null} ? ${userData.value.storedCredential.expirationTimeMilliseconds/86400000} : 'Inconnu'"></td>
							<td class="align-middle text-center"><a
								th:href="@{/delete(userKey=${userData.key})}">X</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>